<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title>VAYA-LOGIN</title>
	<link rel="stylesheet" href="../static/css/auth/login.css" th:href="@{/css/auth/login.css}"/>
</head>
<body>
<div layout:fragment="content">
<div id="insideDiv" >
<form name="f" th:action="@{/login}" method="post" class="form-horizontal">
  <fieldset>
  <div class="row">
				<div class="col-lg-8">
					<h1 class="page-header">
						VAYA <small>Sign In</small>
					</h1>
				</div>
	</div>
  
    <div th:if="${param.error}" class="alert alert-danger">    
    	Invalid username and password.
    </div>
    <div th:if="${param.logout}" class="alert alert-success"> 
    	You have been logged out.
  	</div>
    <div class="row">
    <div class="form-group col-lg-6">
      <label for="username" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-6">
        <input type="text" name="username" class="form-control" id="username" placeholder="Email" required="true"></input>
      </div>
      </div>
    </div>
    <div class="row">
    <div class="form-group col-lg-6">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-6">
        <input type="password" name="password" class="form-control" id="password" placeholder="Password" required="true"></input>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="form-group col-lg-6">
	<a href="#" style="font-size:14px;" data-toggle="modal" th:attr="data-target='#loginHelpModal'">Having trouble logging in?</a><br/>
    <!-- Modal -->
					<div class="modal fade" th:id="'loginHelpModal'" tabindex="-1" role="dialog"
						th:attr="aria-labelledby='modalTitle'" aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" th:id="'modalTitle'" th:text="'Please Contact Us'"></h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
								<div class="row">
									<div class="col-lg-12 korean-font-subcategory">
										<strong>Web Team:</strong> Joe Jung/정윤재 | <strong>email:</strong> <a href="mailto:joejung5678@gmail.com">joejung5678@gmail.com</a><br /> 
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 korean-font-subcategory">
										<strong>Web Team:</strong> Lesley Lee/이민희 | <strong>email:</strong> <a href="mailto:gureumin@gmail.com">gureumin@gmail.com</a><br /> 
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 korean-font-subcategory">
										<strong>Web Team:</strong> David Lee/이강현 | <strong>email:</strong> <a href="mailto:kanghyunlee@mail.adelphi.edu">kanghyunlee@mail.adelphi.edu</a><br /> 
									</div>
								</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
    <button type="submit" class="btn btn-primary">Log In </button>
    <a href="/members/createMember"><button type="button" class="btn btn-secondary">Sign Up</button></a>
    </div>
    </div>
    </fieldset>
    </form>
    </div>
</div>
</body>
</html>