<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>VAYA</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous" />

<link href='https://fonts.googleapis.com/css?family=Roboto'
	rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Exo'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="../static/css/main.css"
	th:href="@{/css/main.css}" />
</head>
<body style="display: none">

	<div class="container">
		<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#obs-nav-dropdown"
				aria-controls="obs-nav-dropdown" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="/">VAYA</a>
			<div class="collapse navbar-collapse" id="obs-nav-dropdown">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item dropdown active"><a
						class="nav-link dropdown-toggle" id="obs-nav-dropdown-menulink"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
						href="#" role="button">Posts</a>
						<div class="dropdown-menu"
							aria-labelledby="obs-nav-dropdown-menulink">
							<a class="dropdown-item" href="/posts/list">List</a>
						</div></li>
					<li class="nav-item dropdown active"><a
						class="nav-link dropdown-toggle" id="obs-nav-dropdown-menulink"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
						href="#" role="button">Members</a>
						<div class="dropdown-menu"
							aria-labelledby="obs-nav-dropdown-menulink">
							<a class="dropdown-item" href="/members/list">List</a>
						</div></li>
					<li class="nav-item dropdown active"
						sec:authorize="hasAnyRole({'ROLE_ADMIN'})"><a
						class="nav-link dropdown-toggle" id="obs-nav-dropdown-menulink"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
						href="#" role="button">Admin</a>
						<div class="dropdown-menu"
							aria-labelledby="obs-nav-dropdown-menulink">
							<a class="dropdown-item" href="/admin/posts/">Posts</a> <a
								class="dropdown-item" href="/admin/members/">Members</a> <a
								class="dropdown-item" href="/admin/team/list">Teams</a> <a
								class="dropdown-item" href="/admin/accountings/">Accounting</a>
						</div></li>
				</ul>
			
			<div class="navbar-text navbar-right" style="white-space: nowrap;">
					<form sec:authorize="isAuthenticated()" id="frmlogout"
						th:action="@{/logout}" method="post" class="form-inline"
						style="white-space: nowrap;">
						<div style="white-space: nowrap;">
							<span sec:authentication="name">Name</span>&nbsp; | &nbsp; <a
								href="javascript:{}"
								onclick="document.getElementById('frmlogout').submit(); return false;">Logout</a>
						</div>
					</form>
					<div sec:authorize="!isAuthenticated()"
						style="white-space: nowrap;">
						Anonymous User: <a th:href="@{/login}"> Login</a>
					</div>
				</div>
				</div>
		</nav>
		<div style="margin: 5px 0px 5px 0px;" layout:fragment="content"></div>
		<div class="col-lg-12 footer">
			<div class="col-lg-12 footer">
				<p>
					Email: vayaarumdaunkm@gmail.com <br /> Address: 1 Arumdaun St
					Bethpage, New York, NY 11714 <br /> Copyright: © 2017 Joe Jung -
					All rights reserved<br />
				</p>
			</div>
		</div>


	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
		integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
		integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
		integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
		crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	<script type="text/javascript" src="/js/admin/posts/postForm.js"></script>
</body>
</html>