<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
<title th:text="|View Post - ${post.title}|">View Post</title>
<link rel="stylesheet" href="../static/css/postteams/view.css"
	th:href="@{/css/postteams/view.css}" />
</head>
<body>
<div layout:fragment="content">
	<div id="insideDiv" >
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					<li class="breadcrumb-item"><a href="/postteams/list">Team Posts</a></li>
					<li class="breadcrumb-item active" th:text="${post?.title}"></li>
				</ol>

				<article style="margin: 0.2rem; padding: 2rem; border: 2px solid #eceeef; width:1000px">
					<header>
						<h2 style="text-decoration: underline;" th:text="${post.title}">title</h2>
						Posted By:&nbsp;<a th:href="|mailto:${post.member.email}|"><span th:text="|${post.member.name}|">member</span></a><br/>
						<span th:text="${#calendars.format(post.date,'MM/dd/yyyy hh:mm:ss a')}">Date</span><br/>
					</header>
					<br/>
					<section>
						<div class="form-group">
							<label class="col-sm-2 control-label">Body:</label>
							<div class="col-md-10">
								<p class="form-control-static" th:text="${post.body}">body</p>
							</div>
						</div>
						<div class="form-group"
							sec:authorize="hasAnyRole({'ROLE_ADMIN','ROLE_USER'})">
							<label class="col-sm-2 control-label">Attachment:</label>
							<div class="col-md-10">
								<img th:src="@{/postteams/image/}+${post.id}" onerror="this.style.display='none'" height="500px" />
							</div>
						</div>
					</section>
					<br/>
					<button type="button" class="btn btn-primary pull-right">
						<a style="color: white;" class="button-txt-color"
							th:href="@{/postteams/list}">Back To Posts List</a>
					</button>
					<hr/>
					<label class="col-sm-2 control-label">Comments:</label>
					<div class="row">
						<div class="form-group col-lg-8" th:each="c : ${comments}">
							
							<div class="col-lg-10">
								<p class="form-control-static" th:text="${c.body}">body</p>
								<p class="each-article"
								th:text="${#calendars.format(c.date,'MM/dd/yyyy hh:mm:ss a')} + ' by ' + ${c.member == null ? '': c.member.name}">date
								member.name</p>
								<button type="button" class="btn btn-primary pull-right"
								th:if="${c?.member?.email == owner || role =='ADMIN'}">
								<a class="button-txt-color"
									style="color: white; padding-left: 0px;"
									th:href="@{'/postteams/comment/edit/' + ${post.id} + '/' + ${c.id}}">Edit</a>
							</button>
							<button type="button" class="btn btn-primary pull-right"
								th:if="${c?.member?.email == owner || role =='ADMIN'}">
								<a class="button-txt-color"
									style="color: white; padding-left: 0px;"
									th:href="@{'/postteams/comment/delete/' + ${post.id} + '/' + ${c.id}}">Delete</a>
							</button>
							</div>
						</div>
					</div>
					<p th:if="${comments == null}">
						<div class="alert alert-warning" role="alert">No Posts
							Found.</div>
						</p>
						<hr/>
						<div class="row  pagination-css ">
							<div class="col-lg-8">
								<nav class="Page navigation table-pagination"
									th:if="${comments?.totalPages}">
									<ul id="pagination" class="pagination pagination-sm">
										<li
											th:class="${comments.number == 0} ? 'page-item disabled' : 'page-item'">
											<a class="page-link" th:if="${!comments.first}"
											th:href="@{${'/postteams/view/'}+${post.id}(page=${comments.number-1},size=${comments.size})}">&larr;
												Previous</a> <a class="page-link" th:if="${comments.first}"
											href="javascript:void(0);">&larr; Previous</a>
										</li>
										<li
											th:each="pageNo : ${#numbers.sequence(0, comments.totalPages-1)}"
											th:class="${comments.number == pageNo} ? 'page-item active' : 'page-item'">
											<a class="page-link" th:if="${comments.number == pageNo}"
											href="javascript:void(0);" th:text="${pageNo + 1}"></a> <a
											class="page-link" th:if="${!(comments.number == pageNo)}"
											th:href="@{${'/postteams/view/'}+${post.id}(page=${pageNo},size=${comments.size})}"
											th:text="${pageNo + 1}"></a>
										</li>
										<li
											th:class="${comments.number + 1 >= comments.totalPages} ? 'page-item disabled' : 'page-item'">
											<a class="page-link" th:if="${!comments.last}"
											th:href="@{${'/postteams/view/'}+${post.id}(page=${comments.number+1},size=${comments.size})}">Next
												&rarr;</a> <a class="page-link" th:if="${comments.last}"
											href="javascript:void(0);">Next &rarr;</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
						
					<div class="row">
							<form class="col-lg-8" th:action="@{/postteams/comment/add/} + ${post.id}" id="commentForm" th:object="${comment}" method="post">
								<label class="col-lg-6 control-label">Leave a comment</label>
								<div class="col-md-10">
								<input type="hidden" th:field="*{id}"/>
								<input type="hidden"  th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
								<textarea th:field="*{body}" rows="4" cols="100" name="comment" form="commentForm">Enter text here...</textarea>
  								<button class="btn btn-primary" type="submit">Add comment</button>
  								</div>
							</form>
					</div>
					<br />
					<br />
					<br />

				</article>
			</div>
		</div>
	</div>
</div>
</body>
</html>