<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title>Create New Team</title>
	<link rel="stylesheet" href="../static/css/admin/smallgroups/smallGroupForm.css" th:href="@{/css/admin/smallgroups/smallGroupForm.css}"/>
</head>
<body>
		<div layout:fragment="content">
	<div id="insideDiv" >
	
		<h2>Create New Small Group</h2>
		<br/>

		<form class="form-horizontal" th:object="${smallGroup}" th:action="@{/admin/smallgroup/save}" method="post">
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{delete_YN}" />
			<div th:class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
				<label class="col-sm-2 control-label">Small Group Name<span class="required">*</span></label>
				<div class="col-md-10">
					<input type="text" class="form-control" th:field="*{name}"/>
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="help-block">Title Errors</span>
				</div>
			</div>
				  	
			<button type="submit" class="btn btn-primary">Submit</button>
			<a id="aHrefButton" class="button-txt-color" style="color: white; padding-left: 0px;" th:href="@{/admin/smallgroup/list}">
				<button type="button" class="btn btn-primary">Back To List</button>
			</a>
		</form>
		
		<br/><br/><br/>
		</div>
	</div>
</body>
</html>