<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/main">
<head>
<title>VAYA Home Page</title>
<link rel="stylesheet" href="../static/css/index.css"
	th:href="@{/css/index.css}" />
</head>
<body>

	<div layout:fragment="content">
		<div id="insideDiv">
			<div class="row">
				<div class="mx-auto">
					<br/>
					<h1>404 ERROR</h1>
					<p>This page cannot be found.<br/>
					Please try typing in the correct URL</p>
					<br/>
				</div>
			</div>
		</div>
	</div>

</body>
</html>