#insideDiv {
	background-color:white; padding-left:2rem;
	min-height:100%
}

p {
	color:#141823;
	font-size:1rem;
}

.help-block {
	color:red;
}


.korean-font-category {
	font-family: Malgun Gothic,san-serif;
	font-size:28px;
	color:#666c70;
	text-decoration: underline;
}

.korean-font-subcategory {
	font-family: Malgun Gothic,san-serif;
	font-size:18px;
}