<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title>List Members</title>
	<link rel="stylesheet" href="../static/css/admin/members/list.css" th:href="@{/css/admin/members/list.css}"/>
</head>
<body>
		
		<div layout:fragment="content">
	<div id="insideDiv" >
	<div class="row">
				<div class="col-lg-8">
					<h1 class="page-header">
						VAYA <small>Admin Members</small>
					</h1>
				</div>
			</div>
			<hr />
	<div class="table-responsive">
    	<table class="table table-striped table-bordered">
			<thead> 
				<tr> 
<!-- 					<th>#</th>  -->
					<th>Name</th> 
					<th>Email</th> 
					<th>Role</th>
					<th>Small Group</th>
					<th>Team</th>
					<th>View</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr> 
			</thead>
			<tbody>
				<tr th:each="member, iterationStatus : ${members}">
<!-- 					<td th:text="${iterationStatus.count}">1</td> -->
					<td th:text="${member.name}">Name</td>
					<td th:text="${member.email}">Email Address</td>
					<td th:text="${member.role}">Role</td>
					<td th:text="${member.smallGroup.name}">Small Group</td>
					<td th:text="${member.team.teamName}">Team</td>
					<td><a href="#" th:href="@{/admin/members/} + ${member.memberId}">View</a></td>
					<td><a href="#" th:href="@{/admin/members/edit/} + ${member.memberId}">Edit</a></td>
					<td><a href="#" th:href="@{/admin/members/delete/} + ${member.memberId}">Delete</a></td>
				</tr>
			</tbody>
		</table>
		</div>
		<div class="row  pagination-css ">
			<div class="col-lg-8">
			<nav class="Page navigation table-pagination" th:if="${members?.totalPages}">
						<ul id="pagination" class="pagination pagination-sm">
							<li th:class="${members.number == 0} ? 'page-item disabled' : 'page-item'">
								<a class="page-link"  th:if="${!members.first}"
								th:href="@{${'/admin/members'}(page=${members.number-1},size=${members.size})}">&larr;
									Previous</a> 
							    <a class="page-link" th:if="${members.first}" href="javascript:void(0);" >&larr; Previous</a>
							</li>

							<li	th:each="pageNo : ${#numbers.sequence(0, members.totalPages - 1)}"
								th:class="${members.number == pageNo} ? 'page-item active' : 'page-item'">
							<a class="page-link" th:if="${members.number == pageNo}" href="javascript:void(0);" th:text="${pageNo + 1}"></a> 
							<a class="page-link" th:if="${!(members.number == pageNo)}" th:href="@{${'/admin/members'}(page=${pageNo},size=${members.size})}" th:text="${pageNo + 1}"></a>
							</li>
							<li th:class="${members.number + 1 >= members.totalPages} ? 'page-item disabled' : 'page-item'">
								<a class="page-link" th:if="${!members.last}" th:href="@{${'/admin/members'}(page=${members.number+1},size=${members.size})}">Next
									&rarr;</a> 
								<a class="page-link" th:if="${members.last}" href="javascript:void(0);">Next &rarr;</a>
							</li>
						</ul>
					</nav>
					</div>
					</div>
		<br/>
		<button type="button" class="btn btn-primary pull-right"><a id="aHrefButton" class="button-txt-color"  href="/admin/member/create" th:href="@{/admin/member/create}">Create New Member</a></button>
		<br/><br/><br/>
	</div>
	</div>
		
</body>
</html>