#insideDiv {
	background-color:white; padding-left:2rem;
	font-size:1rem;
}

#aHrefButton {
	padding-left:.2rem;
}

.button-txt-color{
	color:#fff;
}

.pagination-css {
	margin-left:40%
}