<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
<title></title>
<link rel="stylesheet" href="../static/css/postsmallgroups/list.css"
	th:href="@{/css/postsmallgroups/list.css}" />
</head>
<body>
	<div layout:fragment="content">
		<div id="insideDiv">
		<div class="row">
				<div class="col-lg-8">
					<h1 class="page-header">
						VAYA <small>Small Group Posts</small>
					</h1>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-lg-12">
					<div
						style="margin: 0.2rem; padding: .8rem; border: 2px solid #eceeef"
						th:each="post : ${posts}">
						
						<header>
							<a id="title" th:href="|@{/postsmallgroups/view/}${post.id}|"
								th:text="${post.title}"></a>
							<p class="each-article"
								th:text="${#calendars.format(post.date,'MM/dd/yyyy hh:mm:ss a')} + ' by ' + ${post.member == null ? '': post.member.name}">date
								member.name</p>
							<button type="button" class="btn btn-primary pull-right"
								th:if="${post?.member?.email == owner || role =='ADMIN'}">
								<a class="button-txt-color"
									style="color: white; padding-left: 0px;"
									th:href="@{/postsmallgroups/edit/} + ${post.id}">Edit</a>
							</button>
							<button type="button" class="btn btn-primary pull-right"
								th:if="${post?.member?.email == owner || role =='ADMIN'}">
								<a class="button-txt-color"
									style="color: white; padding-left: 0px;"
									th:href="@{/postsmallgroups/delete/} + ${post.id}">Delete</a>
							</button>
						</header>
					</div>
				</div>
			</div>
			<p th:if="${posts == null}">
							<div class="alert alert-warning" role="alert">No Posts Found.</div>
						</p>
			<button type="button" class="btn btn-primary pull-right "
				sec:authorize="hasAnyRole({'ROLE_ADMIN','ROLE_USER'})">
				<a class="button-txt-color vaya-button-a"
					th:href="@{/postsmallgroups/create}">Add New Post</a>
			</button>
			<br/>
			<div class="row  pagination-css ">
			<div class="col-lg-8">
			<nav class="Page navigation table-pagination" th:if="${posts?.totalPages}">
						<ul id="pagination" class="pagination pagination-sm">
							<li th:class="${posts.number == 0} ? 'page-item disabled' : 'page-item'">
								<a class="page-link"  th:if="${!posts.first}"
								th:href="@{${'/postsmallgroups/list'}(page=${posts.number-1},size=${posts.size})}">&larr;
									Previous</a> 
							    <a class="page-link" th:if="${posts.first}" href="javascript:void(0);" >&larr; Previous</a>
							</li>
							<li	th:each="pageNo : ${#numbers.sequence(0, posts.totalPages-1)}"
								th:class="${posts.number == pageNo} ? 'page-item active' : 'page-item'">
							<a class="page-link" th:if="${posts.number == pageNo}" href="javascript:void(0);" th:text="${pageNo + 1}"></a> 
							<a class="page-link" th:if="${!(posts.number == pageNo)}" th:href="@{${'/postsmallgroups/list'}(page=${pageNo},size=${posts.size})}" th:text="${pageNo + 1}"></a>
							</li>
							<li th:class="${posts.number + 1 >= posts.totalPages} ? 'page-item disabled' : 'page-item'">
								<a class="page-link" th:if="${!posts.last}" th:href="@{${'/postsmallgroups/list'}(page=${posts.number+1},size=${posts.size})}">Next
									&rarr;</a> 
								<a class="page-link" th:if="${posts.last}" href="javascript:void(0);">Next &rarr;</a>
							</li>
						</ul>
					</nav>
					</div>
					</div>
			<br /> <br />
		</div>
	</div>

</body>
</html>