<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
<title></title>
<link rel="stylesheet" href="../static/css/postsmallgroups/list.css"
	th:href="@{/css/postsmallgroups/list.css}" />
</head>
<body>

	<div id="insideDiv" layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<div style="margin-bottom: 0.2rem; padding: .8rem; border: 2px solid #eceeef"
					th:each="post : ${posts}">
					<header th:if="${post.smallGroup == OwnerSmallGroup}">
						<a id="title" th:href="|@{/postsmallgroups/view/}${post.id}|" th:text="${post.title}"></a>
						<p class="each-article"	th:text="${#calendars.format(post.date,'MM/dd/yyyy hh:mm:ss a')} + ' by ' + ${post.member == null ? '': post.member.name}">date 
							member.name</p>
						<button type="button" class="btn btn-primary pull-right"
							th:if="${post.member == null ? '' : post.member.email == owner}">
							<a class="button-txt-color"
								style="color: white; padding-left: 0px;"
								th:href="@{/postsmallgroups/edit/} + ${post.id}">Edit</a>
						</button>
						<button type="button" class="btn btn-primary pull-right"
							th:if="${post.member == null ? '' : post.member.email == owner}">
							<a class="button-txt-color"
								style="color: white; padding-left: 0px;"
								th:href="@{/postsmallgroups/delete/} + ${post.id}">Delete</a>
						</button>
					</header>
				</div>
			</div>
		</div>
		<br />
		<p th:if="${posts == null or posts.size() ==0 }">
		<div class="alert alert-warning" role="alert">No Posts Found.</div>
		</p>

		<button type="button" class="btn btn-primary pull-right"
			sec:authorize="hasAnyRole({'ROLE_ADMIN','ROLE_USER'})">
			<a class="button-txt-color" style="color: white; padding-left: 0px;"
				th:href="@{/postsmallgroups/create}">Add New Post</a>
		</button>
		<br />
		<br />
	</div>

</body>
</html>